h1, h2, h3, h4, h5, h6 {
	font-family: 'Corben', Georgia, Times, serif;
	text-shadow: 1px 1px 1px #ccc;
}
h6 { 
	padding-top: 15px;
}
#homepage {
	text-align: center;
	position: relative;
}

#title {
	color: #4da6ff;
}
.username {
	padding-top: 5px;
	padding-bottom: 5px;
	border: 2px solid black;
	margin-top: 5px;
	background: linear-gradient(21deg, #10abff, #1beabd);
	border-radius: 9999em;
	text-align: center;
}
.password {
	padding-top: 5px;
	padding-bottom: 5px;
	border: 2px solid black;
	margin-top: 5px;
	background: linear-gradient(21deg, #10abff, #1beabd);
	border-radius: 9999em;
	text-align: center;
}
.email{
	padding-top: 5px;
	padding-bottom: 5px;
	border: 2px solid black;
	margin-top: 5px;
	background: linear-gradient(21deg, #10abff, #1beabd);
	border-radius: 9999em;
	text-align: center;
}

.icon {
	width:150px;
	height:125px;

}

input::placeholder {
	text-align: center;
}
p, div {
	font-family: 'Nobile', Helvetica, Arial, sans-serif;
}

body {
	height: 100%;
	background: #ccf2ff;
}

html {
	height: 100%;
}

.signButton {
	height: 25px;
	width: 100px;
	background-color: #4da6ff;
	text-align: center;
	margin-top: 10px;
	cursor: pointer;
	border: none;
	border-radius: 9999em;
}

.removeBtn {
	border-radius: 9999em;
	border: none;
	height:30px;
	cursor: pointer;
}

.logoutBtn {
	height: 35px;
	width: 100px;
	background-color: #4da6ff;
	text-align: center;
	margin-top: 15px;
	margin-right: 15px;
	cursor: pointer;
	border: none;
	border-radius: 9999em;
}

.freecomputer{
  height: 300px;
  width: 300px;
	border: none;
  background: #99ff99;
  padding: 10px;
	margin: 5px;
	border-radius: 2em;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
}

.takencomputer{
  height: 300px;
  width: 300px;
	border: none;
  background: #ff6666;
  padding: 10px;
	margin: 5px;
	border-radius: 2em;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
}

.mycomputer{
  height: 300px;
  width: 300px;
	border: none;
  background: #ffffcc;
  padding: 10px;
	margin: 5px;
	border-radius: 2em;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
}

.computerview{
  
  padding: 30px;
	padding-top: 80px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
	justify-content: center;
}

.reservationBtn {
	height: 35px;
	width: 200px;
	background-color: #4da6ff;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 15px;
	cursor: pointer;
	border: none;
	border-radius: 9999em;
}

#reservation-form {
	margin-top: 55px;

}
#logoutIcon{
	height: 50px;
	width: 75px;
}
#logDiv {
	position: absolute;
	float: 0;
}
